<VirtualHost *>
  ServerAdmin <%= @email %>
  ServerName <%= @hostname %>
  ServerAlias <%= @hostname %>

  DirectoryIndex index.php index.html
  DocumentRoot <%= @www_dir %>

  ErrorLog /var/log/apache2/<%= @hostname %>-error.log
  CustomLog /var/log/apache2/<%= @hostname %>-access.log combined
</VirtualHost>
